body {
  background-color: black;
  color: aliceblue;
  margin-left: 20%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  font-family: "Ubuntu Mono", monospace;
  font-size: 0.9rem;
}

main {
  width: 100%;
}

div {
  background-color: rgba(155, 131, 131, 0.089);
  padding: 0.2em;
  margin: 1em 0 0 0;
  width: 30em;
  border-radius: 2%;
}
div p {
  margin: 0.5rem;
}

nav {
  flex-wrap: wrap;
  display: flex;
  width: 30em;
  margin: 1em 0 1em 0;
}
nav button {
  cursor: pointer;
  border-radius: 0;
  border: none;
  margin: 0.2em 0.2em 0 0;
  background-color: rgb(27, 21, 21);
  color: rgb(218, 218, 123);
}
