body {
  background-color: rgb(10, 11, 20);
  color: aliceblue;
  margin-left: 20em;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  font-family: "Ubuntu Mono", monospace;
  font-size: 0.9rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#searchInput {
  width: 20em;
  height: 2em;
  margin: 0;
  padding: 0 0 0 0.5em;
  background-color: #555;
  border: rgb(27, 21, 21) 0.2px solid;
  color: aliceblue;
  display: inline-block;
}

#searchInput:focus {
  outline: none;
}

#searchButton {
  cursor: pointer;
  width: 6em;
  height: 2em;
  margin: 0;
  padding: 0;
  background-color: #555;
  border: rgb(27, 21, 21) 0.2px solid;
  color: aliceblue;
  display: inline-block;
}

.cheese {
  background-color: rgba(155, 131, 131, 0.089);
  padding: 0.2em;
  margin: 0 0.5em 0.5em 0;
  width: 40em;
  border-radius: 2%;
}
.cheese p {
  margin: 0.5rem;
}

nav, my-tags {
  flex-wrap: wrap;
  display: flex;
  width: 30em;
  margin: 1em 0 1em 0;
}

.button-filter {
  cursor: pointer;
  border-radius: 0;
  border: rgb(27, 21, 21) 0.2px solid;
  margin: 0.2em 0.2em 0 0;
  background-color: rgb(27, 21, 21);
  color: rgb(218, 218, 123);
}

.button-filter:hover {
  background-color: rgb(49, 38, 38);
}

.button-filter:focus {
  background-color: rgb(131, 28, 28);
  border: rgb(195, 197, 212) 0.2px solid;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.class {
  
}